<nav>
    <div class="site-title">
        <a href="/about" class="h1-title"><h1>Confessay</h1></a>
        <p>Made By Sony</p>
    </div>
    <ul class="">
        <li><a href="/" class="links">Confessions</a></li>
        <li><a href="/about" class="links">Rules</a></li>
        <li><a href="/blogs/create" class="links">New Confession</a></li>
    </ul>
</nav>