<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
       
    <div class="about content">
        <p>Well, they are not really rules.</p>
        <p>Please read these notes before confessing.</p>

        <br/>

        <h2>A message from the creator</h2>
        <p>Guten tag everyone, you all can call us Sony and we are the creator of this page.</p>
        <p>These confessions will be public but your identity will be hidden.</p>
        <p>We will reply the confessions publicly from time to time!</p>
        <br/>

        <h2>Rules</h2>
        <p>1. It can be a confession, feedback or things you would like to rant.</p>
        <p>2. You can confess to us or to everyone. </p>
        <p>3. If you are feeling bad today, do say it here. (spilling teas make you feel better psychologically)</p>
        <p>4. No foul languages here, we want peace.</p>
        <p>5. No politicking, no propaganda.</p>
        <p>6. Please do know that I have hacking skills to track who is behind the unhealthy confessions. (haha, jk) </p>

        <br/>
        
        <h5>Happy confession!</h5>

    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>